@{
    ViewBag.Title = "GraphList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <h2>Результати поділу графа на підграфи</h2>
    <div>@ViewBag.graph</div>

</div>
