@using CW_Nelya_Vika.Models
@model List<Problem>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
вивести все результати
@foreach (var result in Model)
{
    //Graph info: к-тво верштн, ребер, айди ...
    //    розбиття: сколько их
    //    добавить в проблему время віполнения
    //    2 кликом по графу перейти на отобразить
}
