
@{
    ViewBag.Title = "OutputEditGraph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OutputEditGraph</h2>

<p>Відобразити граф</p>


@using (Html.BeginForm("Solve", "ProblemGenerator", FormMethod.Post))
{
    <h3>Знайти розбиття графу</h3>
   
    <h3> @Html.RadioButton("GenerationType", "Generate") Згенерувати</h3>

    <p>Оберіть алгоритм:</p>
    <p>@Html.RadioButton("Algorithm", "KernighanLin") Керніган-Ліна </p>
    <p>@Html.RadioButton("Algorithm", "GirvanNewman") Гірвана-Ньюмана </p>
    <br />

    <p><input type="submit" value="Знайти розбиття графу" /></p>
}