@{
    ViewBag.Title = "About";
}
<style>
    .round {
        border-radius: 300px; /* Радиус скругления */
        border: 3px solid; /* Параметры рамки */
        box-shadow: 0 0 7px #666; /* Параметры тени */
    }
</style>

<h3>Постановка задачі</h3>
<p>
    Однією з найважливіших оптимізаційних задач є задача розбиття графа на задане чи довільне число частин.
    <br>
    <br>
    Ця задача використовується при проектуванні пристроїв автоматики та обчислювальної техніки,
    створенні систем управління, комп’ютерних та інженерних мереж,
    а також при вирішенні різних задач штучного інтелекту.
    <br>
    <br>
    Сутність більшості алгоритмів розбиття графів полягає в виборі деякого
    початкового розбиття вихідного графа та наступні його покращення за допомогою
    ітераційного, парного чи групового обміну вершин з різних частин розбиття. При цьому для кожної
    ітерації здійснюється перестановка таких вершин, що забезпечує максимальне зменшення
    числа зв’язків між частинами розбиття графа чи мінімальний приріст числа зовнішніх ребер.
    <br>
    <br>
    У даній курсовій роботі розглядається задача розбиття графа G з мінімізацією K -
    сумарної кількості ребер при розбитті графів на частини. Отже, задача розбиття
    полягає в пошуку такого розбиття із множини можливих розбиттів B деякого графа G,
    при якому мінімізується деяка величина K, що є цільовою функцією розбиття,
    і враховуються усі поставленні в задачі обмеження та граничні умови, якщо вони існують.
</p>

<h3>Виконавці</h3>
<table align="center">
    <tr>
        <td>
            <img src="~/img/Vika.png" alt="Дворник Вікторія" class="round" width="300px" height="200px">
        </td>
        <td>
            <img src="~/img/Nelya.jpg" alt="Новіченко Неля" class="round" width="290px" height="210px">
        </td>
    </tr>
    <tr>
        <td align="center"><a href="mailto:vikadvornik@gmail.com">vikadvornik@gmail.com</a></td>
        <td align="center"><a href="mailto:novichenko.nelya@gmail.com">novichenko.nelya@gmail.com</a></td>
    </tr>
</table>

