@{
    ViewBag.Title = "About";
}
<style>
    .round {
        border-radius: 300px; /* Радиус скругления */
        border: 3px solid; /* Параметры рамки */
        box-shadow: 0 0 7px #666; /* Параметры тени */
    }
</style>
<h3>Виконавці</h3>
<p>
    <img src="~/img/Vika.png" alt="Дворник Вікторія" class="round" width="420px" height="300px">
</p>
<p>
<img src="~/img/Nelya.jpg" alt="Новіченко Неля" class="round" width="420px" height="310px">
</p>
