@{
    ViewBag.Title = "About";
}

<h3>Постановка задачі</h3>
<style>
    .round {
        border-radius: 300px; /* Радиус скругления */
        border: 3px solid; /* Параметры рамки */
        box-shadow: 0 0 7px #666; /* Параметры тени */
    }
</style>
<p>
    Однією з найважливіших оптимізаційних задач є задача розбиття графа на задане чи довільне число частин.
    <br>
    <br>
    Ця задача використовується при проектуванні пристроїв автоматики та обчислювальної техніки,
    створенні систем управління, комп’ютерних та інженерних мереж,
    а також при вирішенні різних задач штучного інтелекту.
    <br>
    <br>
    Сутність більшості алгоритмів розбиття графів полягає в виборі деякого
    початкового розбиття вихідного графа та наступні його покращення за допомогою
    ітераційного, парного чи групового обміну вершин з різних частин розбиття. При цьому для кожної
    ітерації здійснюється перестановка таких вершин, що забезпечує максимальне зменшення
    числа зв’язків між частинами розбиття графа чи мінімальний приріст числа зовнішніх ребер.
    <br>
    <br>
    У даній курсовій роботі розглядається задача розбиття графа G з мінімізацією K -
    сумарної кількості ребер при розбитті графів на частини. Отже, задача розбиття
    полягає в пошуку такого розбиття із множини можливих розбиттів B деякого графа G,
    при якому мінімізується деяка величина K, що є цільовою функцією розбиття,
    і враховуються усі поставленні в задачі обмеження та граничні умови, якщо вони існують.
</p>
<h3>Виконавці</h3>
<p>
    <img src="~/img/Vika.png" alt="Дворник Вікторія" class="round" width="420px" height="300px">
</p>
<p>
<img src="~/img/Nelya.jpg" alt="Новіченко Неля" class="round" width="420px" height="310px">
</p>
