@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>@Resources.Resource.NelyaName:</strong>   <a href="mailto:novichenko.nelya@gmail.com">novichenko.nelya@gmail.com</a><br />
    <strong>@Resources.Resource.VikaName:</strong> <a href="mailto:vikadvornik@gmail.com">vikadvornik@gmail.com</a>
</address>