
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1></h1>
        <h2>Невірний формат файлу...</h2>
    </hgroup>
</body>
</html>
