
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" @*style = "background-image: url('img/images.jpg');*@>
    <h1>@App_GlobalResources.Resource.AppName</h1>
    <h3>Виконали студентки НТУУ "КПІ ім. І. Сікорського"<br> групи ІС-52<br> Дворник Вікторія та Новіченко Неля</h3>
    

</div>