
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" @*style = "background-image: url('img/images.jpg');*@>
    <h1>@App_GlobalResources.Resource.AppName</h1>
    <h3>Виконали студентки НТУУ "КПІ ім. І. Сікорського"<br> групи ІС-52<br> Дворник Вікторія та Новіченко Неля</h3>
</div>

<p>Проблема розбиття графів виникає в багатьох науково-технічних завданнях, вирішення яких можна частково або повністю 
    звести до вирішення на графових структурах.</p>

<p>Приклад розбиття алгоритмом Гірвана-Ньюмана: </p>
<td><img src="~/img/Animation_gn.gif" /></td>

@*<table align="center">
    <tr>
        <td><img src="~/img/Animation_kl.gif" /></td>
        <td><img src="~/img/Animation_gn.gif" /></td>
    </tr>
    <tr>
        <td>Кернігана-Ліна</td>
        <td>Гірвана-Ньюмана</td>
    </tr>
</table>*@

